<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet"  type="text/css" href="/public/stylesheets/style.css" />
  <meta charset="utf-8">
  <meta name="description" content="Web site to create, find or answer questions">
  <meta name="keywords" content="programming, questions, answers">
  <meta name="author" content="group 19">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="logo">
				<img src="/public/images/Q&A.jpg">
			</div>
			<div class="nav">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/questions">Questions</a>
					</li>
					<li>
						<a href="/questions/ask">Ask question</a>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
    <div class="outheader"></div>
    <div id="search-container">
        <form id="search" action="/search" method="get">
			<input name="q" type="text" placeholder="Search..." required>
            <input type="submit" value="Search">
        </form>
    </div>
  {% block content %}{% endblock %}
 <br/><br/><br/>
<footer>Copyright © Southampton.ac.uk</footer>
</body>
</html>