{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <h2>Details of the answer</h2>
  <hr />
  <form action="/questions/{{ question_id }}/answers/{{answer.id}}?_method=PUT" method="POST">
    <label for="content-id">Description: </label><textarea rows="4" cols="50" id="acontent" name="acontent">{{answer.body}}</textarea>
    <input type="submit" value="Update answer">
  </form>
  <article>
    <h4>Created at: {{createdAt}}</h4>
  </article>
   <form action="/questions/{{ question_id }}/answers/{{answer.id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete answer">
  </form>
  <hr />
  {% if answer.comments.length > 0 %}
  <hr />
  <a href="/questions/{{ question_id }}/answers/{{answer.id}}/comments">Check comments</a>
  <hr />
  <h3>Comments related to the answer </h3>
  <hr />
    {% for comment in answer.comments %}
      <article>
        <h4>Number of comment: {{comment.id}}</h4>
        <p>Description of the comment: {{ comment.body }}</p>
        <a href="/questions/{{ question_id }}/answers/{{answer.id}}/comments/{{comment.id}}"> Check this comment </a>
      </article>
      <hr />
    {% endfor %}
    {%else%}
    <article>
      <h4>No comments</h4>
      <hr />
    </article>
  {%endif%}
<form id="answer-comment" class="newAnswerComment" action="/questions/{{ question_id }}/answers/{{answer.id}}/comments" method="post">
  <fieldset>
    <legend>New comment</legend>
    <label for="content">Comment: </label><textarea rows="4" cols="50" name="accontent" id="accontent" required title="Please provide a comment"></textarea>
    <input type="submit" value="New comment">
  </fieldset>
</form>
<a href="/questions/{{ question_id }}/answers"> Go back </a>
</div> <!-- container-->
{% endblock %}
