{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <h2>Comments: </h2>
  <hr />
  {% if comments.length > 0 %}
    {% for comment in comments %}
      <article>
        <p>Number of comment: {{comment.id}}</p>
        <p>Description: {{ comment.body }}</p>
        <a href="/questions/{{ question_id }}/comments/{{comment.id}}"> Check this comment</a>
      </article>
      <hr />
    {% endfor %}
    {%else%}
    <article>
      <p>No comments</p>
    </article>
    <hr />
  {%endif%}
  <a href="/questions/{{ question_id }}">Go back</a>

</div> <!-- container-->
{% endblock %}
