{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <h2>Details of the comment</h2>
  <hr />
  <form action="/questions/{{ question_id }}/answers/{{comment.answer_id}}/comments/{{comment.id}}?_method=PUT" method="POST">
    <label for="content-id">Description: </label><textarea rows="4" cols="50" id="content-id" name="content">{{comment.body}}</textarea>
    <input type="submit" value="Update comment">
  </form>
  <article>
    <p>Created at: {{createdAt}}<p>
  </article>
  <form action="/questions/{{ question_id }}/answers/{{comment.answer_id}}/comments/{{comment.id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete comment">
  </form>
  <a href="/questions/{{ question_id }}/answers/{{comment.answer_id}}/comments">Go back</a>
</div> <!-- container-->
{% endblock %}
{% block footer %}<footer></footer>{% endblock %}
{% block jsdefaults %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}
