{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <h2>Comments: </h2>
  <hr />
  {% if comments.length > 0 %}
    {% for comment in comments %}
      <article>
        <h4>Number of comment: {{comment.id}}</h4>
        <p>Description: {{ comment.body }}</p>
        <a href="/questions/{{ question_id }}/answers/{{comment.answer_id}}/comments/{{comment.id}}"> Check this comment</a>
      </article>
      <hr />
    {% endfor %}
    <a href="/questions/{{ question_id }}/answers/{{answer_id}}">Go back</a>
    {%else%}
    <article>
      <h4>No comments for this answer</h4>
    </article>
    <hr />
    <a href="/questions/{{ question_id }}/answers">Go back</a>
  {%endif%}
  

</div> <!-- container-->
{% endblock %}
