{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <h2>Details of the comment</h2>
  <hr />
  <form action="/questions/{{ question_id }}/answers/{{comment.answer_id}}/comments/{{comment.id}}?_method=PUT" method="POST">
    <label for="content-id">Description: </label><textarea rows="4" cols="50" id="content-id" name="content">{{comment.body}}</textarea>
    <input type="submit" value="Update comment">
  </form>
  <article>
    <p>Created at: {{createdAt}}<p>
  </article>
  <form action="/questions/{{ question_id }}/answers/{{comment.answer_id}}/comments/{{comment.id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete comment">
  </form>
  <a href="/questions/{{ question_id }}/answers/{{comment.answer_id}}/comments">Go back</a>
</div> <!-- container-->
{% endblock %}
