{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <h2>Details of the comment</h2>
  <hr />
  <form action="/questions/{{ comment.question_id }}/comments/{{comment.id}}?_method=PUT" method="POST">
    <label for="content">Description: </label><textarea rows="4" cols="50" id="content" name="content">{{comment.body}}</textarea>
    <input type="submit" value="Update comment">
  </form>
  <article>
    <h4>Created at: {{createdAt}}</h4>
  </article>
  <form action="/questions/{{ comment.question_id }}/comments/{{comment.id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete comment">
  </form>
  <a href="/questions/{{ comment.question_id }}/comments">Go back</a>
</div> <!-- container-->
{% endblock %}
