{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ pagename|title }}</h1>
  {% if questions.length > 0 %}
  <ul>
	{% for question in questions %}
	    <li{% if loop.first %} class="first"{% endif %}>
	      <a href="/questions/{{ question.id }}"   >{{ question.title }} {{ question.createdAt|date('F jS, Y') }} </a>
	    </li>
	  {% endfor %}
  </ul>
  {%else%}
  <p> No questions </p>
  {%endif%}
    
</div> <!-- container-->
{% endblock %}
