{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ pagename|title }}</h1>
  {% if questions.length > 0 %}
  <ul>
	{% for question in questions %}
	    <li{% if loop.first %} class="first"{% endif %}>
	      <a href="/questions/{{ question.id }}"   >{{ question.title }} {{ question.createdAt|date('F jS, Y') }} </a>
	    </li>
	  {% endfor %}
  </ul>
  {%else%}
  <p> No questions </p>
  {%endif%}
  

  
</div> <!-- container-->
{% endblock %}
{% block footer %}<footer></footer>{% endblock %}
{% block jsdefaults %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}
