{% extends '../partials/_layout.html' %}

{% block title %} Home page {% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ pagename|title }}</h1>
  {% if questions.length > 0 %}
  <ul>
	{% for question in questions %}
	    <li{% if loop.first %} class="first"{% endif %}>
	      <a href="/questions/{{ question.id }}"   >{{ question.title }} {{ question.createdAt|date('F jS, Y') }} </a><a href="/questions/{{ question.id }}/answers">Answers</a>
        <a href="/questions/{{ question.id }}/comments">Comments</a>
	    </li>
	  {% endfor %}
  </ul>
  {%else%}
  <p> No questions </p>
  {%endif%}
  <hr />
  <form id="new-question" class="newQuestion" action="/questions" method="post">
  <fieldset>
    <legend>Create new question</legend>
    <label for="title">Title: </label><input type="text" name="title" id="question-title" title="Please provide a title for the question" required>
    <label for="content">Content: </label><textarea name="content" id="question-content" title="Please provide details for your question" required></textarea>
    <input type="submit" value="New question">
  </fieldset>
</form>
  
  
</div> <!-- container-->
{% endblock %}